{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4 style="text-align: center ; padding-top: 100px;">Nestled in the heart of Dhaka, golden restaurent is a haven for food lovers seeking an unforgettable culinary adventure. From the moment you step into the [warmly lit/spacious/quaint] interior, you're enveloped in a symphony of enticing aromas and the gentle hum of chatter, setting the stage for a delightful dining experience.</h4>
        </div>
        <div class="col-md-6">
            <img src="{% static 'pic1.jpg' %}" alt="picture" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}
