{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex flex-wrap px-5 pt-3 align-items-center">
  <div class="col-6">
    <h1>Welcome to Django Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quod doloremque, eum quasi est itaque mollitia dolorem doloribus accusantium eligendi ratione ut qui. Maxime commodi quam similique non dolores id est, hic inventore enim nostrum animi sapiente! Neque, eum debitis harum aliquam amet perferendis corrupti temporibus facilis corporis facere ea nemo id a similique est autem sed, aspernatur vel ipsum sequi libero? Asperiores possimus sapiente minus voluptates accusamus. Quis sunt molestias nesciunt? Provident cupiditate temporibus corporis a officiis porro maiores, libero quibusdam, asperiores facilis, laborum sed fuga mollitia veniam eaque tempore placeat quas nesciunt labore officia minus ipsa ad. Quisquam?</p>

  </div>
  <div class="col-6">
    <img src="{% static 'header.jpg' %}" alt="Header Image">


  </div>
</div>

<div class="d-flex flex-wrap p-4">
  <div class="col-2 bg-white p-3">
    <h5>All Category</h5>
    {% for cat in category%}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="{{cat.id}}"/>
      <label class="form-check-label" for="{{cat.name}}">
        
        <a href="{% url 'category_wise_post' cat.slug%}" class="text-decoration-none text-dark">{{cat.name}}</a>
      </label>
    </div>
    {% endfor %}

  </div>
  <div class="col-10 p-3">
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap  pt-5 m-5">
      {% for post in data %}
      <div class="col-sm-3">
        <div class="card m-2">
          <div class="card-body">
              <img src="{{post.image.url}}" class="card-img-top" alt="...">
              <!-- <p>{{post.file.url}}</p> -->
              <h5 class="card-title"><a href="{% url 'detail_Post' post.id %} " class="text-decoration-none text-dark">{{post.title}}</a></h5>
              <p class="card-text">{{post.content | truncatewords:10 }}</p>
              <p>Author : {{post.author.first_name}} {{post.author.last_name}}</p>
              <p>category : 
                  {% for cat in post.category.all %}
  
                 <button class="btn btn-primary btn-sm m-2" disabled > {{cat.name}}</button>
  
                  {% endfor %}
              </p>
            </div>
          </div>
        </div>
  
      {% endfor %}
     
    </div>
  </div>

</div>

{% endblock %}
